body, html {
    font-family: 'Sora', sans-serif;
    background: linear-gradient(to right, #450610, #350000, #1f0000, #000);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

p {
    color: white;
}

b {
    color: white;
    font-size: 25px;
}

.pai {
    height: 480px;
    width: 590px;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid white;
    border-radius: 15px;
}

.mensagem {
    height: 700px;
    width: 800px;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid white;
    border-radius: 15px;
}

.cardMen {
    height: 280px;
    width: 500px;
    box-shadow: 0px 0px 15px 0px red;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-field{
    position: relative;
    width: 85%;
}

.input-field input, textarea{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 2px solid white;
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 1em;
    box-sizing: border-box;
}

.input-field span{
    position: absolute;
    left: 0;
    padding: 12px;
    pointer-events: none;
    font-size: 1em;
    color: white;
    transition: 0.5s;
}

.input-field input:valid ~ span,
.input-field input:focus ~ span,
.input-field textarea:valid ~ span,
.input-field textarea:focus ~ span{
    color: black;
    transform: translateX(15px) translateY(-4.5px);
    font-size: 0.65em;
    padding: 0 10px;
    background: white;
    letter-spacing: 0.2em;
    border-radius: 2px;
    font-weight: bold;
}

.input-field input:valid,
.input-field input:focus,
.input-field textarea:valid,
.input-field textarea:focus{
    border: 2px solid #5c5b5b;
}